<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo03"
    aria-controls="navbarTogglerDemo03"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="/home">
    &nbsp; <i class="fas fa-university"></i
  ></a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/clientes/personales"
          ><i class="fas fa-user-friends"></i> Clientes personales</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/clientes/empresariales"
          ><i class="fas fa-briefcase"></i> Clientes empresariales</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/estadisticas"
          ><i class="fas fa-wallet"></i> Estadisticas</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/prestamo"
          ><i class="fas fa-address-book"></i> Crear préstamo</a
        >
      </li>
      <li class="nav-item right">
        <a class="nav-link" routerLink="/login"
          ><i class="fas fa-sign-out"></i
        ></a>
      </li>
    </ul>
  </div>
</nav>

<div class="container mt-5">
  <div class="row">
    <div class="container col-4">
      <h3 class="col-auto">
        <font color="White">{{ titulo | uppercase }}</font>
      </h3>
      <form class="mt-3" [formGroup]="clienteForm" (ngSubmit)="crearPersona()">
        <div class="mb-3">
          <input
            type="text"
            formControlName="dni"
            class="form-control form-control-lg"
            placeholder="DNI del cliente"
          />
          <div
            class="text-danger"
            *ngIf="
              clienteForm.get('dni')?.hasError('required') &&
              clienteForm.get('dni')?.touched
            "
          >
            <span>El DNI es <strong>obligatorio</strong></span>
          </div>
        </div>
        <div class="mb-3">
          <input
            type="text"
            formControlName="nombre"
            class="form-control form-control-lg"
            placeholder="Nombre completo"
          />
          <div
            class="text-danger"
            *ngIf="
              clienteForm.get('nombre')?.hasError('required') &&
              clienteForm.get('nombre')?.touched
            "
          >
            <span>El nombre es <strong>obligatorio</strong></span>
          </div>
        </div>
        <div class="mb-3">
          <input
            type="text"
            formControlName="telefono"
            class="form-control form-control-lg"
            placeholder="Teléfono"
          />
          <div
            class="text-danger"
            *ngIf="
              clienteForm.get('telefono')?.hasError('required') &&
              clienteForm.get('telefono')?.touched
            "
          >
            <span>El telefono es <strong>obligatorio</strong></span>
          </div>
        </div>
        <div class="mb-3">
          <input
            type="text"
            formControlName="numero"
            class="form-control form-control-lg"
            placeholder="Numero de calle"
          />
          <div
            class="text-danger"
            *ngIf="
              clienteForm.get('numero')?.hasError('required') &&
              clienteForm.get('numero')?.touched
            "
          >
            <span>El numero es <strong>obligatorio</strong></span>
          </div>
        </div>
        <div class="mb-3">
          <input
            type="text"
            formControlName="calle"
            class="form-control form-control-lg"
            placeholder="Nombre de calle"
          />
          <div
            class="text-danger"
            *ngIf="
              clienteForm.get('calle')?.hasError('required') &&
              clienteForm.get('calle')?.touched
            "
          >
            <span>El calle es <strong>obligatorio</strong></span>
          </div>
        </div>
        <div class="mb-3">
          <input
            type="number"
            formControlName="capital"
            class="form-control form-control-lg"
            placeholder="Capital"
          />
          <div
            class="text-danger"
            *ngIf="
              clienteForm.get('capital')?.hasError('required') &&
              clienteForm.get('capital')?.touched
            "
          >
            <span>El capital es <strong>obligatorio</strong></span>
          </div>
        </div>
        <div class="mb-3">
          <input
            type="number"
            formControlName="ingresos"
            class="form-control form-control-lg"
            placeholder="Ingresos anuales"
          />
          <div
            class="text-danger"
            *ngIf="
              clienteForm.get('ingresos')?.hasError('required') &&
              clienteForm.get('ingresos')?.touched
            "
          >
            <span>El ingresos es <strong>obligatorio</strong></span>
          </div>
        </div>
        <div class="mb-3">
          <input
            type="string"
            formControlName="comercial"
            class="form-control form-control-lg"
            placeholder="DNI del comercial"
          />
          <div
            class="text-danger"
            *ngIf="
              clienteForm.get('comercial')?.hasError('required') &&
              clienteForm.get('comercial')?.touched
            "
          >
            <span>El comercial es <strong>obligatorio</strong></span>
          </div>
        </div>
        <div class="mb-3">
          <button
            class="btn btn-secondary btn-lg float-start"
            routerLink="/clientes/personales"
          >
            <i class="fas fa-sign-out"></i>
          </button>
          <button
            type="submit"
            [disabled]="clienteForm.invalid"
            class="btn btn-success btn-lg float-end"
          >
            <i class="fas fa-upload"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
