<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo03"
    aria-controls="navbarTogglerDemo03"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="/home">
    &nbsp; <i class="fas fa-university"></i
  ></a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/clientes/personales"
          ><i class="fas fa-user-friends"></i> Clientes personales</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/clientes/empresariales"
          ><i class="fas fa-briefcase"></i> Clientes empresariales</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/estadisticas"
          ><i class="fas fa-wallet"></i> Estadisticas</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/empleados"
          ><i class="fas fa-hard-hat"></i> Empleados</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/prestamo"
          ><i class="fas fa-address-book"></i> Crear préstamo</a
        >
      </li>
    </ul>
  </div>
</nav>

<div class="container mt-5 container-sm">
  <div class="card card-body">
    <h3>¡Bienvenido a OPEN BANK!</h3>
    <h6>Tu banco favorito</h6>
    <p class="text-align: left">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </p>
    <img src="./img/bank-1.jpeg" alt="imagen" />
  </div>
</div>
