<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo03"
    aria-controls="navbarTogglerDemo03"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="/home">
    &nbsp; <i class="fas fa-university"></i
  ></a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/clientes/personales"
          ><i class="fas fa-user-friends"></i> Clientes personales</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/clientes/empresariales"
          ><i class="fas fa-briefcase"></i> Clientes empresariales</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/estadisticas"
          ><i class="fas fa-wallet"></i> Estadisticas</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/prestamo"
          ><i class="fas fa-address-book"></i> Crear préstamo</a
        >
      </li>
      <li class="nav-item right">
        <a class="nav-link" routerLink="/login"
          ><i class="fas fa-sign-out"></i
        ></a>
      </li>
    </ul>
  </div>
</nav>

<div class="container mt-5 card card-body">
  <div
    class="btn-group btn-group-toggle mt-2 div-centrado"
    data-toggle="buttons"
  >
    <label class="btn btn-secondary active">
      <input
        (click)="obtenerRentaEmpresa()"
        type="radio"
        name="options"
        id="option1"
        autocomplete="off"
        checked
      />
      Empresariales
    </label>
    <label class="btn btn-secondary">
      <input
        (click)="obtenerRentaPersona()"
        type="radio"
        name="options"
        id="option2"
        autocomplete="off"
      />
      Personales
    </label>
  </div>
  <div id="renta">
    <highcharts-chart
      [Highcharts]="Highcharts"
      [options]="chartOptions"
      style="width: 100%; height: 400px; display: block"
    ></highcharts-chart>
  </div>
</div>
