<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo03"
    aria-controls="navbarTogglerDemo03"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="/home">
    &nbsp; <i class="fas fa-university"></i
  ></a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/clientes/personales"
          ><i class="fas fa-user-friends"></i> Clientes personales</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/clientes/empresariales"
          ><i class="fas fa-briefcase"></i> Clientes empresariales</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/estadisticas"
          ><i class="fas fa-wallet"></i> Estadisticas</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/empleados"
          ><i class="fas fa-hard-hat"></i> Empleados</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/prestamo"
          ><i class="fas fa-address-book"></i> Crear préstamo</a
        >
      </li>
    </ul>
  </div>
</nav>

<div class="container mt-5">
  <div class="row">
    <div class="container-sm">
      <div class="card">
        <div class="card-body">
          <div>
            <h3 class="col-auto">Listado de empresas</h3>
            <form
              [formGroup]="buscarForm"
              class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3"
            >
              <input
                type="search"
                formControlName="nif"
                placeholder="Buscar por NIF..."
              />
              <button
                (click)="listarEmpresas()"
                class=""
                routerLink="/clientes/empresariales"
              >
                <i class="fas fa-search"></i>
              </button>
            </form>
          </div>
          <table class="table table-hover table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">NIF</th>
                <th scope="col">Nombre</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Dirección</th>
                <th scope="col">Capital (€)</th>
                <th scope="col">Ingresos (€)</th>
                <th scope="col">Plan</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let empresa of listEmpresas">
                <th scope="row">{{ empresa._id }}</th>
                <td>{{ empresa._nombre }}</td>
                <td>{{ empresa._telefono }}</td>
                <td>
                  c/{{ empresa._direccion.calle }},
                  {{ empresa._direccion.numero }}
                </td>
                <td>{{ empresa._capital }}</td>
                <td>{{ empresa._ingresos }}</td>
                <td>{{ empresa._plan }}</td>
                <td>
                  <i
                    [routerLink]="[
                      '/clientes/empresariales/registrar',
                      empresa._id
                    ]"
                    class="fas fa-user-edit cursor"
                  ></i>
                  <i
                    (click)="eliminarEmpresa(empresa._id)"
                    class="fas fa-trash-alt cursor margin"
                  ></i>
                </td>
              </tr>
            </tbody>
          </table>
          <button
            class="btn btn-success float-end"
            routerLink="/clientes/empresariales/registrar"
          >
            <i class="fas fa-user-plus"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
